.cartCont{
    font-family: sans-serif;

}
.cartWrapper{
padding:2rem;
}

.cartTitle{
    font-family: 'Preahvihear', sans-serif;
    text-align: center;
    font-size: 3em;
}
.cartTop{
display: flex;
align-items: center;
justify-content: space-between;
padding:2rem;
}

.topBtna, .topBtnb{
    padding:10px;
    font-weight: 700;
    cursor:pointer;
    border-radius: 1rem;

}
.topBtna{
    background-color: rgb(255, 210, 10);
    border: 2px orange;
    color:rgb(255, 120, 10);

}
.topBtnb{
    border:none;
    background-color: rgb(255, 120, 10);

}
.topInfo{
font-size: larger;
}
.topTexts{
text-decoration: underline;
cursor:pointer;
margin:0px 10px;
}
.cartBottom{
display: flex;
justify-content: space-between;
}
.bottomInfo{
 flex: 3;
}

.cartProduct{
    display: flex;
    justify-content: space-between;
}
.cartDetail{
    flex: 2;
    display:flex;
}
.cartImg{
 width: 30%;
 height: 99%;
}
.productDets{
    flex:2;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.pText
.cartPrice{
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.productAmountCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9em;
    border:1px black solid;
    border-radius: 1rem;
    margin-bottom: 15%;
}
.addCart,.removeCart{ 
    margin: .3rem;


}
/* .removeCart{

}*/
.productAmount{
    font-size: 1.6em;

}  
.productPrice{
    font-size: 2.3em;
    font-weight: 400;
}

hr{
        border: none;
        background-color: orange;
        height: 1px;
}
.bottomSummary{
    flex:1;
    padding-left: 10%;
    /* border:lightgray solid 1px; */
    border-radius: 1rem;
    padding: 3rem;
    width: fit-content;
    height: fit-content;
    }
.sumTitle{
    font-weight: 200;
    font-size: 4rem;
}
.sumItem{
    margin: 2rem 0px;
    display: flex;
    justify-content: space-between;
}
.sumItemTextA{
    font-weight: 500;
}