.navContainer{
    height: 60px;
    font-family: 'Preahvihear', sans-serif;
}

.navWrapper{
    background:-webkit-linear-gradient(120deg, hsl(19,90%,52%), hsl(56, 100%, 50%));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.navLeft{
    flex:1;
}
.navCenter{
    flex:1;

}
.navRight{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.leftItem{
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .searchBox {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .searchBox::placeholder {
    color: #9e9ea7;
   }
   
   .searchBox:focus, input:hover {
    outline: none;
    border-color: rgba(231, 105, 67, 0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgba(234, 126, 76, 0.158);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #57575a;
    width: 1rem;
    height: 1rem;
   }
   
.centerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size:x-large;
    
}
.letter{
    transition: 0.4s;
    transform: translateX(0);
    cursor: pointer;
    color: black;
}
.letter:hover{
 transform: translateY(-1rem);
}
.rightItem{
    font-size: 20px;
    cursor: grab;
    margin-left: 30px;



}