.navContainer{
    height: 60px;
    font-family: 'Preahvihear', sans-serif;
}

.navWrapper{
    background:-webkit-linear-gradient(120deg, hsl(19,90%,52%), hsl(56, 100%, 50%));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.navLeft{
    flex:1;
}
.navCenter{
    flex:1;

}
.navRight{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.leftItem{
    font-size: 14px;
    cursor: pointer;
}
.search{
    height: 20px;
}
.searchBox{
    border: none;
    background-color: transparent;
    display:flexbox;
    height:20px;
    align-items: center;
    font-size: 12px;
}
.centerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: x-large;
}
.letter{
    transition: 0.4s;
    transform: translateX(0);
    cursor: pointer;
    color: black;
}
.letter:hover{
 transform: translateY(-1rem);
}
.rightItem{
    font-size: 14px;
    cursor: grab;
    margin-left: 25px;

}