.navLeft, .navRight{
    /* content-visibility: hidden; */
}

.registerContainer{
    font-family: 'Preahvihear', sans-serif;
    padding-top: 10%;
    padding-left: 40%;
    /* justify-content: center;
    align-items: center; */

}


.regTitle{
    font-size: 2.5em;
    font-weight: 600;
    /* padding-left: 14%; */

}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 22rem;
    background-color: #fff;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    position: relative;
  }
  

  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: .75rem;
  }
  
  .form label {
    position: relative;
    color: rgb(255, 94, 1);

  }
  input{
    border-radius: 10px;
   font-size: 2em;
  }
  
  
  .submit {
    border: none;
    outline: none;
    background-color: rgb(248, 115, 7);
    padding: 1rem;
    border-radius: 10px;
    color: #fff;
    font-size: 1.6em;
    transform: .3s ease;
  }
  
  .submit:hover {
    background-color: rgb(238, 154, 116);
    cursor: pointer;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }



