.navContainer{
    height: 60px;
}

.navWrapper{
    background:-webkit-linear-gradient(120deg, hsl(19,90%,52%), hsl(56, 100%, 50%));
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.navLeft{
    flex:1;
}
.navCenter{
    flex:1;

}
.navRight{
    flex:1;

}
.leftItem{
    font-size: 14px;
    cursor: pointer;
}
.searchBox{
    border: none;
    background-color: transparent;
    display:flexbox;
    height:14px;
    width: 75px;
    align-items: center;
}
.centerLogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.letter{
    transition: 0.4s;
    transform: translateX(0);
    cursor: pointer;
    color: black;
}
.letter:hover{
 transform: translateY(-1rem);
}
