
.merchContainer{
    /* font-family: 'Preahvihear', sans-serif; */
    /* font-size: 28px; 
    width: 70%; */
    /* float:right;  */

    display: flex;
    flex-wrap: wrap;
    padding:2rem;
    font-family: Arial, Helvetica, sans-serif;



}
h1{
    font-family: 'Preahvihear', sans-serif;
    font-size: 7.7em;
    
}

.merch{
    width: 70%;
    height: 99%;
    border: black 2px;
    float: right;
}