.sideContainer{
  margin-top: 7%;
  font-family: 'Preahvihear', sans-serif;
  margin-left: 5%;
  width: 20%;

}
.sideWrapper{
  height: max-content;
    flex-wrap: wrap;
    align-content: center;
    width:max-content;
}

.sideTop,.sideCenter{
  font-size: 1.4em;
}

.searchBox {
  width: 100%;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: .3s ease;
 }
 
 .searchBox::placeholder {
  color: #9e9ea7;
 }
 
 .searchBox:focus, input:hover {
  outline: none;
  border-color: rgba(231, 105, 67, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgba(234, 126, 76, 0.158);
 }
 
 .icon {
  position: absolute;
  left: 1rem;
  fill: #57575a;
  width: 1rem;
  height: 1rem;

 }

ul{
    list-style: none;
    position: relative;
    
}


li:hover{
    cursor:pointer;
    text-decoration: underline;

}

.sideBottom{
margin-top: 70px;
background-color: rgba(221, 215, 211, 0.473);
border-radius: 1%;
font-size: small;

}

.rating {
  display: inline-block;
}

.rating input {
  display: none;
}

.rating label {
  float: right;
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
}

.rating label:before {
  content: '\2605';
  font-size: 30px;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
  color: #ff9100;
  transition: color 0.3s;
}
.socials{
  display: inline;
}




